.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name,
.fighter-preview___stats-item {
  align-self: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___img {
  flex-grow: 1;
}

.fighter-preview___stats {
  list-style: none;
}

.fighter-preview___stats-item {
  font-size: 16px;
}